{% extends 'layouts/main.html' %}
{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SBhatt App</title>

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">	

</head>

<body>
		<div class="container">
		    <div class="row justify-content-center">
				<div class="col-md-10 text-center mb-20">
					<h1>                           </h1>
				</div>
				<div class="col-md-10 text-center mb-20">
					<h1>                           </h1>
				</div>
				<div class="col-md-10 text-center mb-20">
					<h1>                           </h1>
				</div>
				<div class="col-md-10 text-center mb-20">
					<h1>                           </h1>
				</div>

				<div class="col-md-8 text-center mb-5">
					<h2>E-Commerce Solution</h2>
					<h5>E-commerce (electronic commerce) is the buying and selling of goods and services, or the transmitting of funds or data, over an electronic network, primarily the internet. These business transactions occur either as business-to-business (B2B), business-to-consumer (B2C), consumer-to-consumer or consumer-to-business.</h5>
					<img class="col-md-12 text-center mb-5" src=/static/img/ecommerce2.png />
				</div>
		    </div>
		</div>
</body>

{% endblock %}